{% extends 'base.html' %}
{% block title %}Рассылка: {{ mailing.message.subject }}{% endblock %}
{% block content %}
<h1>{{ mailing.message.subject }}</h1>
<p><strong>Статус:</strong> {{ mailing.get_status_display }}</p>
<p><strong>Первая отправка:</strong> {{ mailing.first_send_time }}</p>
<p><strong>Окончание:</strong> {{ mailing.end_time }}</p>
<p><strong>Сообщение:</strong></p>
<p>{{ mailing.message.body }}</p>
<p><strong>Клиенты:</strong></p>
<ul>
    {% for client in mailing.clients.all %}
        <li>{{ client.full_name }} ({{ client.email }})</li>
    {% endfor %}
</ul>


{% if mailing.owner == user or perms.mailing.set_mailing_status %}
    {% if mailing.status == 'created' or mailing.status == 'running' %}
         <a href="{% url 'mailing:send_mailing' mailing.pk %}" class="btn btn-warning">Отправить рассылку</a>
    {% endif %}
{% endif %}

<a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-primary">Редактировать</a>
<a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}